---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	  
		<!-- Akshar font -->
		<link href="https://fonts.googleapis.com/css2?family=Akshar&display=swap" rel="stylesheet">
	</head>
	  
	<body class="h-full">

		<slot />

	</body>
	  
</html>
<style is:global>
	
	:root {
		--accent-gradient: linear-gradient(45deg, #FFFFFF 30%, black 50%, blue 70%);
	}
	html {
		font-family: 'Akshar', sans-serif;
		/* fargen bak alt (kommer når du drar typ) */
		background-color: #FE710F; 
		height: 100%;
	}
</style>

