---
import BaseLayout from "./BaseLayout.astro";
import Navbar from '../components/Navbar.jsx';
const { title } = Astro.props;
---

<BaseLayout title={title}>
    <header id="navbar" class="h-24 w-full fixed flex items-center justify-center px-6 transition-colors duration-300">

        <div class="w-full max-w-6xl mx-auto flex justify-between items-center">
      
          <!-- Boks 1 -->
          <div class="flex justify-center w-1/5">
            <h3 class="text-l text-white"><a href="/events">Arrangementer</a></h3>
          </div>
      
          <!-- Boks 2 -->
          <div class="flex justify-center w-1/5">
            <h3 class="text-l text-white"><a href="/pictureWall">Bildevegg</a></h3>
          </div>
      
          <!-- Boks 3 (logo) -->
          <div class="flex justify-center w-1/5">
            <img src="/logoHvit.png" alt="Realfagskjelleren logo" class="h-16" />
          </div>
      
          <!-- Boks 4 -->
          <div class="flex justify-center w-1/5">
            <h3 class="text-l text-white"><a href="/menu">Meny</a></h3>
          </div>
      
          <!-- Boks 5 -->
          <div class="flex justify-center w-1/5">
            <h3 class="text-l text-white"><a href="/omoss">Om oss</a></h3>
          </div>
      
        </div>
      </header>
      
      
      
      
      
      
      
    <body><Navbar client:load /></body>

    <slot />

    <footer>

    </footer>
    
</BaseLayout>
